main {
    text-align: center;
}

.about-us h1 {
    font-size: 2.5rem;
    color: red;
    margin-bottom: 30px;
}

.content-boxes {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.box {
    width: 40%;
    height: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: auto; /* Maintains aspect ratio */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, .9), transparent); /* Left to right fading shade */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.image-text {
  color: white;
  text-align: left;
  padding: 40px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.event-container {
    display: flex;
    width: 90%;
    height: 250px;
    background: linear-gradient(to right, #d0d0d0, #f0f0f0);
    margin: 30px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black; /* Thin black border */
}

.event-image {
    flex: 0 0 30%; /* Ensures it takes exactly 25% of the container */
    height: 100%;
    overflow: hidden;
}

.event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.event-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    width: 70%;
}

.event-section {
    margin: 3px 0;
}

.time, .date, .location, .description {
    font-size: 1.2em;
    line-height: 1.2;
	padding: 0 30px;
}

.time {
    font-weight: bold;
    color: #CC0000;
}

.description {
    padding: 10px 30px;
}

.o-nav-main__link.active {
    background-color: #900; /* Change to desired color */
    color: white; /* Text color change */
}


